* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.to-do-list {
  border: 1px solid black;
  box-shadow: 0 0 2px;
  width: 30%;
  margin: auto;
  margin-top: 5%;
}

h2 {
  margin: 0.5rem;
}

.listContainer {
  display: flex;
  background-color: rgb(218, 218, 218);
  height: 2rem;
  align-items: center;
  margin-bottom: 0.2rem;
  padding-left: 0.5rem;
}

.listContainer p {
  padding-left: 0.5rem;
}

.input-text {
  padding-left: 0.5rem;
  width: 97%;
  height: 2rem;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
